{{- /* This is a chezmoi config file template */ -}}
[git]
    autoCommit = false
    autoPush = false

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/josesolisrosales/josesolisrosales.nvim.git"
    refreshPeriod = "4h"
