{{- /* This is a chezmoi config file template */ -}}
encryption = "age"

[git]
    autoCommit = false
    autoPush = false

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/josesolisrosales/josesolisrosales.nvim.git"
    refreshPeriod = "4h"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1w4mn3j34m8z9tj2dycj5cxul5y8t4yr28qzpxazrqjqpyty979jsv2dv3w"
